* {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  transition: 50ms all;
  font-family: 'Open Sans', sans-serif;
}

html {
  background-color: #394760;
}

a:hover {
	text-decoration: none;
}

#home {
  height: 650px;
  margin: 0;
  .col-lg-4 {
    padding: 0;
  }
}

#intro1 {
  background-image: url(intro1.png);
  height: 100%;
}

#intro2 {
  background-image: url(intro2.png);
  height: 100%;
}

#intro {
  height: 100%;
	background-color: #394760;
  color: white;
	text-align: center;
	#home_h1 {
    padding-top: 110px;
    padding-bottom: 20px;
		margin: 7px 0 !important;
		font-size: 50px;
		color: white;
		font-family: 'Sansita', sans-serif;
	}
  span {
    color: white !important;
    font-size: 20px;
    line-height: 40px;
  }
	p, h3 {
		font-family: 'Open Sans', sans-serif;
		font-size: 17px;
	}
  h3 {
    margin-top: 10px;
    font-size: 13px;
    padding-bottom: 10px;
  }
	#h1 {
		padding: 12px 0 !important;
		margin: 0;
		color: #c28800;
		font-size: 45px;
		font-family: 'Open Sans', sans-serif;
	}
	a:hover {
		text-decoration: none;
	}
  span {
    font-weight: bold;
    color: #c28800;
  }
}

hr {
  width: 270px;
  border-top: black solid 1.5px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

#mini {
  border-top: 1px solid #9e9e9e !important;
  width: 220px;
}

#home_image {
  height: 90%;
}

// section 1
#section_1 {
  height: 400px;
  background-color: white !important;
  color: #2d2f34;
}

#section_1_row {
  background-color: white !important;
  padding-top: 40px;
  font-size: 18px;
  .col-md-4 {
    padding: 0px;
    ul {
      padding-right: 10px;
      padding-top: 30px !important;
    }
  }
}

#section_2 {
  height: 250px;
  background-color: #37284d !important;
  color: white;
  text-align: center;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

#section_2_row {
  margin: 0;
}

#benefit_1 {
  background-color: #394760 !important;
  height: 250px;
}

#benefit_2 {
  background-color: #583c77 !important;
  height: 250px;
}

#benefit_3 {
  background-color: #2d2f34 !important;
  height: 250px;
}

#benefit_4 {
  background-color: #305f4f !important;
  height: 250px;
}

#benefit_1, #benefit_2, #benefit_3, #benefit_4 {

}

.benefits {
  padding-top: 65px;
}

#benefit_icon {
  height: 50px;
  width: auto;
}

#signup {
  // height: 125px;
  width: 100%;
  padding: 10px 0;
}

#mc_embed_signup_scroll {
  input {
    width: 80%;
  }
}

#mc_embed_signup input.email {
  width: 500px !important;
}

.email {
  width: 60%;
}

#form {
  // width: 70%;
  input {
    width: 50%;
  }
}

#subscribe_button {
  background-color: #2d2f34 !important;
  width: 500px !important;
  padding: 0 !important;
  margin-top: 5px !important;
}

#section_3 {
  // background-image: url(bg2.JPG);
  height: 400px;
  color: #2d2f34;
  text-align: left;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  background-color: white;
}

#section_3_row {
  margin: 0;
  padding-top: 30px;
}

#content {
  p {
    font-size: 18px;
  }
  ul {
    font-size: 15px;
  }
  h2 {
    font-size: 17px;
    margin-top: 20px;
  }
}

.col-md-6 {
  iframe {
    box-shadow: 0px 0px 7px 7px #000000;
  }
}

#section_4 {
  color: white;
  width: 100%;
  height: 1000px;
  font-size: 20px;
  text-align: center;
  margin: 0;
  background-image: url(thiscourse.png);
}

#course_row {
  margin: 0;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  p {
    margin-top: 20px;
  }
}

#icon_div {
  margin-bottom: 20px;
}

.circle_icon {
  border-radius: 50%;
  background-color: #305f4f;
  height: 200px;
  width: 200px;
  margin: auto;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 75px;
  img {
    height: 120px;
    width: auto;
    margin-top: 40px;
  }
  p {
    margin-bottom: 20px;
  }
}

#section_4_content {
  h2 {
    text-align: center;
    font-size: 38px;
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

#course_photo {
  background-color: #4d0b00;
  margin: 0;
}

#testimonial_1 {
  text-align: center;
  background-color: #394760 !important;
  height:550px;
  color: white;
}

#testimonial_2 {
  text-align: center;
  background-color: #583c77 !important;
  height:550px;
  color: white;
}

#testimonial_3 {
  text-align: center;
  background-color: #305f4f !important;
  height:550px;
  color: white;
}

.testimony_picture {
  height: 200px;
  width: auto;
  padding: 15px 0;
}

#section_5 {
  h2 {
    padding-top: 20px;
    text-align: center;
    font-size: 23px;
    font-family: 'Sansita', sans-serif;
  }
  p {

  }
  font-size: 15px;
  line-height: 28px;
  margin: 0;
  color: white;
  height: 550px;
}

#section_5_row {
  margin: 0;
}

#section_6 {
  background-color: #2d2f34;
  color: white;
  text-align: center;
  width: 100%;
  height: 600px;
  font-size: 20px;
  #content {
    padding-top: 45px;
    h2 {
      font-size: 23px;
      line-height: 33px;
    }
    h3 {
      font-size: 21px;
      margin-bottom: 0;
    }
    ul {
      line-height: 35px;
      font-size: 20px;
    }
  }
}

#section_7 {
  background-color: #394760;
  background-image: url(group.png);
  height: 600px;
  font-size: 23px;
  color: white;
  text-align: center;
}

#student_content {
  padding-top: 160px;
}

#section_8 {
  background-color: #305f4f;
  height: 500px;
  font-size: 17px;
  color: white;
  text-align: center;
  p {
    width: 70%;
    margin-left: 15%;
  }
}

#oren_content {
  padding-top: 35px;
}

#oren_pic {
  height: 250px;
  width: auto;
  // margin: 20px 0 0 200px;
}

#section_9 {
  h2 {
    padding-top: 20px;
    text-align: center;
    font-size: 23px;
    font-family: 'Sansita', sans-serif;
  }
  p {

  }
  font-size: 15px;
  line-height: 28px;
  margin: 0;
  color: white;
  height: 310px;
}

#section_9_row {
  margin: 0;
}

#video_1, #video_2, #video_3 {
  iframe {
    padding-top: 35px;
  }
  text-align: center;
  background-color: #2d2f34 !important;
  height: 310px;
  color: white;
}

#section_10 {
  height: 500px;
  background-color: #2d2f34 !important;
  text-align: center;
  #email_oren {
    a {
      color: #2d2f34 !important;
    }
    a:hover {
      text-decoration: none;
      color: #305f4f;
    }
    margin-left: 440px;
    background-color: white;
    width: 400px;
    height: 30px;
    margin-top: 10px;
    color: #2d2f34 !important;
    border-radius: 3px;
    font-size: 20px;
  }
}
