* {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: #394760;
}

.container {
  width: 100% !important;
}

#home {
  height: 50em;
  margin: 0;
  .col-lg-4 {
    padding: 0;
  }
}

.jumbotron {
  padding: 0 !important;
}

#intro {
  height: 100%;
	background-color: #394760;
  color: white;
	text-align: center;
	#home_h1 {
    padding-top: 1.5em;
    padding-bottom: .3em;
		font-size: 10vh;
		color: white;
		font-family: 'Pangolin', cursive;
	}
  span {
    color: #DDEDC7 !important;
    font-size: 4vh;
    line-height: 1.5em;
  }
	p, h3 {
		font-family: 'Roboto', sans-serif;
		font-size: 3vh;
	}
  h3 {
    margin-top: 10px;
    font-size: 3vh;
    padding-bottom: 10px;
  }
	#h1 {
		padding: 1em 0 !important;
		margin: 0;
		color: #c28800;
		font-family: 'Roboto', sans-serif;
	}
	a:hover {
		text-decoration: none;
	}
  span {
    font-weight: bold;
    color: #c28800;
  }
}

hr {
  width: 270px;
  border-top: white solid .01em !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

#section_1 {
  background-color: #d5dff1 !important;
  color: #2d2f34;
}

#section_1_row {
  background-color: #d5dff1 !important;
  padding-top: .9em;
  padding-bottom: .5em;
  font-size: 3vh;
    ul {
      padding-right: 1em;
      padding-top: 1em !important;
  }
}

#section_2 {
  color: white;
  text-align: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
  height: 10%;
}

#section_2_row {
  margin: 0;
  height: 10%;
}

#benefit_1 {
  background-color: #394760 !important;
}

#benefit_2 {
  background-color: #583c77 !important;
}

#benefit_3 {
  background-color: #2d2f34 !important;
}

#benefit_4 {
  background-color: #305f4f !important;
}

.benefits {
  p {
    padding: 10px 0;
  }
}

#signup {
  padding: 10px 0;
}

#mc_embed_signup input.email {
  height: 50px !important;
  border: 3px #394760 solid !important;
  font-size: 3vh !important;
}


#form {
  input {
    width: 50% !important;
  }
}

#subscribe_button {
  background-color: #841023 !important;
  padding: 0 !important;
  margin-top: 5px !important;
  height: 50px !important;
  font-size: 2.5vh !important;
  font-family: 'Pangolin', cursive;
}

#mc_embed_signup.button {
  font-size: 10vh !important;
  width: 80%;
}

#overview {
  color: #2d2f34;
  text-align: left;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
  background-color: #d5dff1;
}

#overview_row {
  margin: 0;
  padding-top: 40px;
}

#content {
  p {
    font-size: 2.7vh;
  }
  ul {
    font-size: 2vh;
  }
  h2 {
    font-size: 3vh;
    margin-top: 3vh;
  }
}

.col-md-6 {
  iframe {
    box-shadow: 0px 0px 7px 7px #000000;
  }
}

#curriculum {
  color: white;
  font-size: 3vh;
  text-align: center;
  margin: 0;
  background-image: url(thiscourse.png);
}

#course_row {
  margin: 0;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  p {
    margin-top: 3vh;
  }
}

#icon_div {
  margin-bottom: 3vh;
}

.circle_icon {
  border-radius: 50%;
  background-color: #305f4f;
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 35px;
  margin-left: 12vh;
  img {
    max-height: 13vh;
    width: auto;
    margin: 10px 0;
  }
  p {
    margin-bottom: 3vh;
  }
}

#curriculum_content {
  h2 {
    text-align: center;
    font-size: 5vh;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Pangolin', cursive;
  }
}

#course_photo {
  background-color: #4d0b00;
  margin: 0;
}

#testimonial_1 {
  text-align: center;
  background-color: #394760 !important;
  height:110vh;
  color: white;
}

#testimonial_2 {
  text-align: center;
  background-color: #583c77 !important;
  height: 110vh;
  color: white;
}

#testimonial_3 {
  text-align: center;
  background-color: #305f4f !important;
  height: 110vh;
  color: white;
}

.testimony_picture {
  padding: 15px 0;
  max-height: 250px;
  width: auto;
}

#section_5 {
  h2 {
    padding-top: 3vh;
    text-align: center;
    font-size: 3vh;
    font-family: 'Pangolin', cursive;
  }
  font-size: 2.7vh;
  line-height: 28px;
  margin: 0;
  color: white;
}

#section_5_row {
  margin: 0;
}

#section_6 {
  background-image: url(curriculum.png);
  color: white;
  text-align: left;
  height: 500px;
  font-size: 2vh;
  #content {
    padding-top: 45px;
    padding-left: 40px;
    h2 {
      font-size: 4vh;
      line-height: 33px;
      font-family: 'Pangolin', cursive;
    }
    h3 {
      line-height: 35px;
      font-size: 3vh;
      margin-bottom: 0;
    }
    ul {
      line-height: 35px;
      font-size: 2vh;
    }
  }
}

#section_7 {
  background-color: #394760;
  background-image: url(group.png);
  height: 400px;
  font-size: 3vh;
  color: white;
  text-align: center;
}

#student_content {
  h2 {
    padding-top: 70px;
    font-family: 'Pangolin', cursive;
    font-size: 6vh;
  }
}

#section_8 {
  background-color: #305f4f;
  font-size: 3vh;
  color: white;
  text-align: center;
  p {
    width: 70%;
    line-height: 30px;
    margin-left: 15%;
  }
}

#oren_content {
  padding-top: 45px;
  h2 {
    font-family: 'Pangolin', cursive;
    font-size: 6vh;
  }
}

#oren_pic {
  max-height: 250px;
  width: auto;
}

#section_9 {
  h2 {
    padding-top: 3vh;
    text-align: center;
    font-size: 4vh;
    font-family: 'Pangolin', cursive;
  }
  font-size: 3vh;
  line-height: 28px;
  margin: 0;
  color: white;
}

#section_9_row {
  margin: 0;
}

#video_1, #video_2, #video_3 {
  iframe {
    padding-top: 35px;
  }
  text-align: center;
  background-color: #d5dff1 !important;
  color: white;
}

#section_10 {
  background-color: #d5dff1 !important;
  text-align: center;
  width: 100%;
  #email_oren {
    margin-left: 15px;
    padding-top: 5px;
    color: white !important;
    border-radius: 3px;
    background-color: #841023 !important;
    font-size: 3vh !important;
    font-family: 'Pangolin', cursive;
  }
}

.fb-page {
  margin-left: 15px;
}
