* {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 100%;
  transition: 50ms all;
  font-family: 'Open Sans', sans-serif;
}

html {
  background-color: #394760;
}

a:hover {
	text-decoration: none;
}

#intro {
	background-color: #394760;
  color: white;
	text-align: center;
  height: 10%;
	#home_h1 {
		margin: 7px 0 !important;
		font-size: 34px;
		color: white;
		font-family: 'Sansita', sans-serif;
	}
	p, h3 {
		font-family: 'Open Sans', sans-serif;
		font-size: 17px;
	}
  h3 {
    margin-top: 10px;
    font-size: 13px;
    padding-bottom: 10px;
  }
	#h1 {
		padding: 12px 0 !important;
		margin: 0;
		color: #c28800;
		font-size: 45px;
		font-family: 'Open Sans', sans-serif;
	}
	a:hover {
		text-decoration: none;
	}
  span {
    font-weight: bold;
    color: #c28800;
  }
}

hr {
  width: 270px;
  border-top: black solid 1.5px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

#mini {
  border-top: 1px solid #9e9e9e !important;
  width: 220px;
}

#home_image {
  height: 90%;
}

// section 1
#section_1 {
  height: 400px;
  background-color: #2d2f34 !important;
  color: white;
}

#section_1_row {
  background-color: #2d2f34 !important;
  padding-top: 40px;
  h2 {
    font-size: 34px;
  }
  font-size: 20px;
  .col-md-4 {
    padding: 0px;
  }
}

#section_2 {
  height: 250px;
  background-color: #37284d !important;
  color: white;
  text-align: center;
  width: 100%;
}

#section_2_row {
  margin: 0;
}

#benefit_1 {
  background-color: #394760 !important;
  height: 250px;
}

#benefit_2 {
  background-color: #583c77 !important;
  height: 250px;
}

#benefit_3 {
  background-color: #305f4f !important;
  height: 250px;
}

#benefit_icon {
  height: 50px;
  width: auto;
}

#signup {
  height: 125px;
  width: 100%;
}

#form {
  width: 70%;
  input {
    width: 70%;
  }
}

#subscribe_button {
    background-color: #2d2f34 !important;
}

#section_3 {
  background-image: url(bg2.png);
  color: white;
  text-align: center;
  width: 100%;
  height: 650px;
  font-size: 20px;
}

#section_3_row {
  margin: 0;
}

#content {
  padding-top: 150px;
  width: 80%;
  margin-left: 10%;
  ul {
    font-size: 18px;
  }
}

#testimonial_1 {
  text-align: center;
  background-color: #394760 !important;
  height: 250px;
  color: white;
}

#testimonial_2 {
  text-align: center;
  background-color: #583c77 !important;
  height: 250px;
  color: white;
}

#testimonial_3 {
  text-align: center;
  background-color: #305f4f !important;
  height: 250px;
  color: white;
}

#section_4_row {
  margin: 0;
}

#section_5 {
  background-image: url(bg3.jpg);
  color: white;
  text-align: center;
  width: 100%;
  height: 650px;
  font-size: 20px;
}

#section_7 {
  background-color: #305f4f;
  height: 200px;
  font-size: 12px;
  color: white;
}

#oren_content {
  padding-top: 32px;
}
