// navbar
#tellmae_navbar {
  background-color: #EC5D57;
  height: 60px;
  width: 60px;
  border-radius: 3px;
  border: none;
}

// home icon
#tellmae_home {
  padding: 0;
  margin: 5px;
  height: 40px;
  width: auto;
  a {
    padding: 0;
    margin: 0px;
  }
}

#tellmae_home:hover {
  background-color: #EC5D57;
}
