<div id="page5">
	<div id="intro">
        <h1 id="h1">call me, beep me...</h1>
  	</div>
  	<div class="contact_section">
  		<a href="mailto:maegan.burke@gmail.com">
	  		<div class="col-md-4" id="contact_email">
	  			<img src="assets/email.png">
	  			<p>chat with me</p>
	  		</div>
	  	</a>
	  	<a href="https://www.linkedin.com/in/maeganburke" target="_blank">
	  		<div class="col-md-4" id="contact_instagram">
	  			<img src="assets/insta.png">
	  			<p>wander with me</p>
	  		</div>
	  	</a>
	  	<a href="https://www.instagram.com/maedinamerica/" target="_blank">
	  		<div class="col-md-4" id="contact_soundcloud">
	  			<img src="assets/soundcloud.png">
	  			<p>vibe with me</p>
	  		</div>
  		</a>
  		<a href="https://www.github.com/maeganburke/" target="_blank">
	  		<div class="col-md-4" id="contact_github">
	  			<img src="assets/github.png">
	  			<p>create with me</p>
	  		</div>
  		</a>
  	</div>
</div>
