<div id="page5">
	<div id="intro">
        <h1 id="h1">Get in Touch</h1>
  	</div>
  	<div class="contact_section">
  		<a href="mailto:orenalignment@gmail.com?subject=Hi Oren!">
	  		<div class="col-md-4" id="contact_email">
	  			<img src="assets/email.png">
	  			<p>Email</p>
	  		</div>
	  	</a>
	  	<a href="https://www.linkedin.com/in/maeganburke" target="_blank">
	  		<div class="col-md-4" id="contact_facebook">
	  			<img src="assets/facebook.png">
	  			<p>Facebook</p>
	  		</div>
	  	</a>
	  	<a href="https://www.instagram.com/maedinamerica/" target="_blank">
	  		<div class="col-md-4" id="contact_soundcloud">
	  			<img src="assets/book.png">
	  			<p>About Oren</p>
	  		</div>
  		</a>
  		<a href="https://www.github.com/maeganburke/" target="_blank">
	  		<div class="col-md-4" id="contact_github">
	  			<img src="assets/github.png">
	  			<p>Oren's choice</p>
	  		</div>
  		</a>
  	</div>
</div>
