<div id="marketingpage">
  	<div>
			<div class="teacher_section">
				<div id="teachercontent">
					Oren is a certified osteopath and a yoga teacher. His teaching fuses his passions of yoga and anatomy. In his 15 years of practice he has studied Iyengar, Astanga and traditional Tantra-Yoga. He deals with yoga injuries on a daily basis in his clinic. Viewing yoga through the eyes of an osteopath, Oren understands how the two disciplines intertwine. He hosts international workshops on yoga, alignment and osteopathy. 
				</div>
			</div>
  	</div>
</div>
