<div id="home_resumes">
  <div class="row">
      <div class="col-xs">
          <div class="box"><img id="resume1" src="assets/resume1.jpeg"</div>
      </div>
      <div class="col-xs">
          <div class="box"><img id="resume2" src="assets/resume2.jpeg"</div>
      </div>
  </div>
</div>
