<div id="resume_content">
  <div id="resume_header" class="row">
    A clear, concise and visually appealing resume is a major key to visibility in a competitive job market.<br>All  resumes are one-of-a-kind and tailored to your personality.
    <button id="resume_samples" type="button" data-toggle="modal" data-target="#myModal">peep some samples</button>
  </div>
  <div id="resume_options" class="row">
    <a href="mailto:maegan.burke@gmail.com?subject=Choose a Template&body=Hey Maegan, I'm interested in you completing one of your resume templates for me.<br>I'm looking to">
      <div id="options" class="col-md-3">
        <div id=options_content>
          <h>choose a template</h>
          <p>Choose one of these existing resumes and I'll customize the content for you.</p>
          <ul>
            <li>prefilled resume using one of these templates</li>
            <li>tips & tricks for landing your dream job</li>
            <li>spreadsheet to monitor your job search</li>
          </ul>
        </div>
        <hr>
        <span>$15</span>
      </div>
    </a>
    <a href="mailto:maegan.burke@gmail.com?subject=Custom Resume Design">
      <div id="options" class="col-md-3">
        <div id=options_content>
          <h>custom resume</h>
          <p>I'll create a custom resume that represents your personality & brand.</p>
          <ul>
            <li>custom prefilled resume</li>
            <li>tips & tricks for landing your dream job</li>
            <li>spreadsheet to monitor your job search</li>
          </ul>
        </div>
        <hr>
        <span>$25</span>
      </div>
    </a>
    <a href="mailto:maegan.burke@gmail.com?subject=Custom Resume and Cover Letter">
      <div id="options" class="col-md-3">
        <div id=options_content>
          <h>custom resume & cover letter</h>
          <p>I'll create a one-of-a-kind resume and cover letter template.</p>
          <ul>
            <li>custom prefilled resume</li>
            <li>custom cover letter template</li>
            <li>tips & tricks for landing your dream job</li>
            <li>spreadsheet to monitor your job search</li>
          </ul>
        </div>
        <hr>
        <span>$30</span>
      </div>
    </a>
    <a href="mailto:maegan.burke@gmail.com?subject=Custom Resume, Cover Letter and Interview Prep">
      <div id="options" class="col-md-3">
        <div id=options_content>
          <h>custom design + coaching</h>
          <p>I'll create a plan of attack for your job search including a custom resume, cover letter and interview prep.</p>
          <ul>
            <li>custom prefilled resume</li>
            <li>custom prefilled cover letter relevant to your desired industry</li>
            <li>interview prep via video chat</li>
            <li>tips & tricks for landing your dream job</li>
            <li>spreadsheet to monitor your job search</li>
          </ul>
        </div>
        <hr>
        <span>$50</span>
      </div>
    </a>
  </div>
  <p id="payment">*all payments made via hugs or PayPal</p>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
