<div id="page3">
	<div id="intro">
        <h1 id="h1">travel</h1>
	</div>
	<%= render partial: "layouts/mbicon" %>
	<div id="travel_info">
		<img src="assets/wheel.png">but
		<p>“I am not the same, having seen the moon shine on the other side of the world.” – Mary Anne Radmacher</p>
	</div>
</div>
