<div id="section_5">
  <div class="row" id="section_5_row">
    <div class="col-md-4" id="testimonial_1">
      <h2>Tamara Martínez Vila, Yoga Teacher</h2>
      <img src="assets/tamara.png" class="testimony_picture">
    </img>
        <p>"More than memorising any position or muscle it has been understanding the principles of how the body works. I really notice improvement in my yoga practice and body awareness and now I feel more confident to teach others… It has been beneficial to learn the foundations that sometimes you can't get from a 200-hour teacher training course."</p>
    </div>
    <div class="col-md-4" id="testimonial_2">
      <h2>Darina Samuelova, Yoga Teacher</h2>
      <img src="assets/darina.png" class="testimony_picture">
    </img>
        <p>"This course is MUST for all yoga teachers, to deepen their knowledge, so they can lead their students safely and effectively. I feel more confident to go into my yoga teaching world now, and keep educating people how to practice safely according to their needs. Whether you are teacher, practitioner, or you simply struggle with your body and want to learn how to use it correctly, this course is a MUST for you."</p>
    </div>
    <div class="col-md-4" id="testimonial_3">
      <h2>Nina Ingold, Yoga Teacher</h2>
      <img src="assets/nina.png" class="testimony_picture">
    </img>
        <p>"I have gained a deeper understanding about how a Yoga Asana practice influences the physical body, what specific problems may arise when teaching different kind of people, and also where I need to be cautious in my own practice. I definitely feel more secure in my own Yoga practice and much more confident to teach Yoga and adjust students without harming or hurting them."</p>
    </div>
  </div>
</div>

<div id="section_5">
  <div class="row" id="section_5_row">
    <div class="col-md-4" id="testimonial_4">
      <h2>Emre Can Sovisoyi, Yoga Teacher</h2>
      <img src="assets/emre.png" class="testimony_picture">
    </img>
        <p>“Oren’s course was a real, proper introduction and invitation to practicing yoga more consciously, from an anatomical point of view. It was quite an intensive ten days, but rewarding right from the beginning! I was hoping to improve my self-practice before anything else. Not only did my own practice take a huge leap, but I am now feeling welcome into the interesting and wonderful world of anatomy. I would highly recommend this course to any yoga teacher or serious practitioner who want to learn why they are doing what they are doing.”</p>
    </div>
    <div class="col-md-4" id="testimonial_5">
      <h2>Pat Hawkins, Yoga Teacher</h2>
      <img src="assets/pat.png" class="testimony_picture">
    </img>
        <p>“Oren has a wealth of knowledge and practical experience which made this course rich and very valuable. The course explained why and how to strengthen weaker muscles, to make yoga asanas safer. Throw away your ego to be open to making subtle changes in your asanas.
        Oren focuses on doing the asanas safely so that you can do yoga safely for years. The focus is on doing yoga asanas safely, using a strong background in osteopathy and knowledge of yoga. The information is so valuable and so needed in today’s instant gratification world.
        Don’t hesitate to take this course – you won’t get this kind of valuable and important information elsewhere!”</p>
    </div>
    <div class="col-md-4" id="testimonial_6">
      <h2>Naama Barkan, Yoga Teacher</h2>
      <img src="assets/naama.png" class="testimony_picture">
    </img>
        <p>"Oren's "anatomy and yoga" course was really wonderful for me. Oren teaches with much attention to the students, with a lot of care for each one to really understand and even making different comments for each student field of practice. His knowledge is at a very high level, we came with many questions and all was answered deeply. Very good, clear and interesting way to talk about anatomy and yoga (and many other subjects around this). The knowledge I got defiantly changed my practice and my teaching skills. Thank you Oren for every second, was really wonderful."</p>
    </div>
  </div>
</div>

<div id="section_5">
  <div class="row" id="section_5_row">
    <div class="col-md-4" id="testimonial_7">
      <h2>Yogini Mango, Chef</h2>
      <img src="assets/mango.png" class="testimony_picture">
    </img>
        <p>
          "I participated at Oren Dotan Osteopath Workshop Anatomy and Alignment for Yoga teachers in January 2015 at KPG. Oren is one of those rare souls whom not only has a deep knowledge in his field, but makes it accessible to neophytes. As a Yoga teacher, anatomy knowledge is essential not only to help students advance in their practice but mainly to avoid any kind of injury. and as years went by i resented more and more this knowledge gap in my training. Without a doubt, this workshop was one of the very best yoga courses I have attended in the last 20 Years.""
        </p>
    </div>
    <div class="col-md-4" id="testimonial_8">
      <!-- <h2>Hamsa, Yoga Teacher</h2>
      <img src="assets/darina.png" class="testimony_picture">
    </img>
        <p>“It’s not just dry knowledge… It’s implemented to asana practice… so now when I teach my students I can implement all this knowledge and if they have questions I can use this knowledge I got from the course to guide them and make sure that what they are doing is correct or not correct. So it makes me as a teacher much more confident that I am doing the right thing. So I would advise for everyone who wants to go much deeper, and develop a much deeper knowledge and confidence in their practice.”</p> -->
    </div>
    <div class="col-md-4" id="testimonial_9">
      <!-- <h2>Nina Ingold, Yoga Teacher</h2>
      <img src="assets/nina.png" class="testimony_picture">
    </img>
        <p>"I have gained a deeper understanding about how a Yoga Asana practice influences the physical body, what specific problems may arise when teaching different kind of people, and also where I need to be cautious in my own practice. I definitely feel more secure in my own Yoga practice and much more confident to teach Yoga and adjust students without harming or hurting them."</p> -->
    </div>
  </div>
</div>
