<div>

	<div id="wrapper">

		<div id="intro">
		    <a href="/"><h1 id="home_h1">Yoga, Anatomy & Alignment Course</h1></a>
				<hr id="mini">
					GAIN CONFIDENCE.
					LEARN HOW TO PREVENT INJURIES.
					DEEPEN YOUR PRACTICE.
				<hr id="mini">
				<p>Hosted by Oren Dotan, D.O. </p>
		</div>
		<div id="home_image">
			<img src="assets/bg1.jpeg">
		</div>

	</div>
	<div id="section_1">
		<div class="row" id="section_1_row">
			<div class="col-md-2">
			</div>
			<div class="col-md-4">
				<h2>Do you want to...</h2>
				<ul>
					<li>Upgrade your teaching abilities?</li>
					<li>Use yoga as a healing tool?</li>
					<li>Help your students with their pain and injuries?</li>
					<li>Develop and deepen your own personal practice?</li>
					<li>Increase your income from yoga?</li>
				</ul>
			</div>
			<div class="col-md-4">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/3p8IkP6Ndl4" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>

	<div id="section_2">
		<div class="row" id="section_2_row">
			<div class="col-md-4" id="benefit_1">
				<div class="row">
					<img src="assets/benefit_icon.png" id="benefit_icon">
				</div>
				benefit 1 (Oren will send)
			</div>
			<div class="col-md-4" id="benefit_2">
				<div class="row">
					<img src="assets/benefit_icon.png" id="benefit_icon">
				</div>
				benefit 2 (Oren will send)
			</div>
			<div class="col-md-4" id="benefit_3">
				<div class="row">
					<img src="assets/benefit_icon.png" id="benefit_icon">
				</div>
				benefit 3 (Oren will send)
			</div>
		</div>
	</div>

	<div>
		<%= render partial: "sites/signup" %>
	</div>

	<div id="section_3">
			<div id="content">
				This course will break down the principles behind the alignment through a scientific understanding of muscles, joints and fascia. Once you understand these principles, you will be able to apply them to all variations of asanas.  We will explore all the main muscles of the body, as well as our patterns of movement through asana practice – as opposed to dry lectures.  While focusing on assessment of postural dysfunctions, common injuries and pain.<br>
				INSERT VIDEO OF OREN TALKING ABOUT THE COURSE
				In the course you will learn :
				<ul>
					To Apply knowledge of human anatomy in your practice and teaching<br>
					To Diagnose common misalignments and imbalances in the muscular skeletal system<br>
					Increase awareness of the body’s innermost workings<br>
					Understand how to prevent injuries and The biomechanical reason for injury<br>
					Deepen your practice through correct alignment<br>
					Tailor your knowledge to the specific needs of each student<br>
				</ul>
			</div>
	</div>

	<div>
		<%= render partial: "sites/signup" %>
	</div>

<!-- TESTIMONIALS -->

	<div id="section_4">
		<div class="row" id="section_4_row">
			<div class="col-md-4" id="testimonial_1">
				testimonial 1
			</div>
			<div class="col-md-4" id="testimonial_2">
				testimonial 2
			</div>
			<div class="col-md-4" id="testimonial_3">
				testimonial 3
			</div>
		</div>
	</div>

	<div>
		<%= render partial: "sites/signup" %>
	</div>

<!-- COURSE CURRICULUM -->

	<div id="section_5">
		<div id="content">
			<h2>This course aims to bridge the gap between what you feel in the body and how the body actually works.</h2>

			Anatomical components (joints, ligaments, muscles, myofascia)
			Kinesiology of all joints
			Application of anatomical understanding to asana alignment
			Patterns of common injury
			Fascial chains and  its connection to alignment
			Muscle imbalance according to Janda theory

			And much more
		</div>
	</div>

<!-- ARE YOU THIS PERSON? -->

	<div id="section_6">
		<div class="row">

		</div>
	</div>

<!-- ABOUT OREN -->

	<div id="section_7">
		<div class="row">
			<div class="col-md-6">
				<!-- OREN PHOTO -->
			</div>
			<div class="col-md-6" id="oren_content">
				<h2>About Oren</h2>
				<p>Oren Dotan, is an Osteopath teaching at the School of Osteopathy in Israel. He teaches workshops and courses worldwide. More than a decade of research and practice led to developing his own unique treatment and diagnosis approach called Integrative Cranio.

				<br>OREN WILL CONFIRM</p>
			</div>
		</div>
	</div>

	<!-- INSERT TESTIMONIAL VIDEOS FROM OREN -->

	<div>
		<%= render partial: "sites/signup" %>
	</div>

<!-- INSERT FACEBOOK LINK -->
</div>
