<div>
	<div id="home">
		<%= render partial: "layouts/homeheader" %>
	</div>
</div>

<div>
	<div id="resumepage">
	    <%= render partial: "sites/resumes" %>
	</div>

	<div id="resumepage">
	    <%= render partial: "sites/marketing" %>
	</div>

	<div id="contactpage">
	    <%= render partial: "sites/contact" %>
	</div>
</div>
