<div>

	<div id="wrapper">

		<!-- <div id="intro">
		    <a href="/"><h1 id="home_h1">Yoga, Anatomy & Alignment Course</h1></a>
				<hr id="mini">
					GAIN CONFIDENCE.<br>
					LEARN HOW TO PREVENT INJURIES.<br>
					DEEPEN YOUR PRACTICE.<br>
				<hr id="mini">
				<p>Hosted by Oren Dotan, D.O. </p>
		</div>
		<div id="home_image">
			<img src="assets/bg1.jpeg">
		</div> -->

		<div class="row" id="home">
			<div class="col-lg-4" id="temp">
				<!-- <img src="assets/bg1.jpeg"> -->
			</div>
			<div class="col-lg-4" id="intro">
				<h1 id="home_h1">Yoga, Anatomy & <br>Alignment Course</h1>
				<hr class="mini_home" id="mini">
					<span>GAIN CONFIDENCE.</span><br>
					<span>LEARN HOW TO PREVENT INJURIES.</span><br>
					<span>DEEPEN YOUR PRACTICE.</span><br>
				<hr id="mini">
				<p>Hosted by Oren Dotan, D.O.</p>
			</div>
			<div class="col-lg-4" id="temp">
				<!-- <img src="assets/bg2.png"> -->
			</div>
		</div>

	</div>
	<div id="section_1">
		<div class="row" id="section_1_row">
			<div class="col-md-1">
			</div>
			<div class="col-md-5">
				<ul>
					<br>
					Are you frustrated because you cannot help students, or yourself, with injuries and pain?<br><br>
					Do you feel unconfident adjusting your students?<br><br>
					Are you dissatisfied with your knowledge about the human body?<br><br>
					Do you need more tools in order to become a better teacher?<br><br>
				</ul>
			</div>
			<div class="col-md-5">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/2kSJgvprmuM" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-md-1">
			</div>
		</div>
	</div>

	<div id="section_2">
		<div class="row" id="section_2_row">
			<div class="col-md-3" id="benefit_1">
				<div class="row">
					<!-- <img src="assets/benefit_icon.png" id="benefit_icon"> -->
				</div>
				<div class="benefits">
					<hr id="mini">
					<p>Become a confident yoga teacher & practitioner</p>
					<hr id="mini">
				</div>
			</div>
			<div class="col-md-3" id="benefit_2">
				<div class="row">
					<!-- <img src="assets/benefit_icon.png" id="benefit_icon"> -->
				</div>
				<div class="benefits">
					<hr id="mini">
					<p>Upgrade your <br>teaching abilities</p>
					<hr id="mini">
				</div>
			</div>
			<div class="col-md-3" id="benefit_3">
				<div class="row">
					<!-- <img src="assets/benefit_icon.png" id="benefit_icon"> -->
				</div>
				<div class="benefits">
					<hr id="mini" class="mini_benefit">
					<p>Help your students with their pain and injuries</p>
					<hr id="mini">
				</div>
			</div>
			<div class="col-md-3" id="benefit_4">
				<div class="row">
					<!-- <img src="assets/benefit_icon.png" id="benefit_icon"> -->
				</div>
				<div class="benefits">
					<hr id="mini" class="mini_benefit">
					<p>Develop and deepen your <br>own personal practice</p>
					<hr id="mini">
				</div>
			</div>
		</div>
	</div>

	<div>
		<%= render partial: "sites/signup1" %>
	</div>

	<div id="section_3">
			<div id="content">
				<p>This course will break down the principles behind the alignment, through scientific understanding of muscles, joints and fascia. Once you understand these principles, you will be able to apply them to all variations of asanas.</p>
				<p>We will explore all the main muscles of the body, as well as our patterns of movement, through asana practice – as opposed to dry lectures.</p>
				<p>We will focus on the bio-mechanic reasons for common yoga injuries, and learn how to prevent them.
				This course is a golden opportunity to get more intimate with your body, to realize what are your weaknesses and imbalances, and to learn how to correct them.</p><br>
				<div class="row">
					<div class="col-md-3">
					</div>
					<div class="col-md-6">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/p_qP2Pv2ygw" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="col-md-3">
					</div>
				</div>
			</div>
	</div>

	<div id="section_5" class="row">
		<div class="col-md-6">
			<h2>In the course you will:</h2>
			<ol>
				<li>Apply knowledge of human anatomy in their practice and teaching</li>
				<li>Diagnose common misalignments and imbalances in the muscular and skeletal system</li>
				<li>Increase awareness of the body’s innermost workings</li>
				<li>Understand how to prevent injuries</li>
				<li>Deepen your practice through correct alignment</li>
				<li>Tailor your knowledge to the specific needs of each student</li>
			</ol>
		</div>
		<div class="col-md-6" id="course_photo">
		</div>
	</div>

	<div>
		<%= render partial: "sites/signup2" %>
	</div>

<!-- TESTIMONIALS -->

	<div id="section_5">
		<div class="row" id="section_5_row">
			<div class="col-md-4" id="testimonial_1">
				Tamara
			</div>
			<div class="col-md-4" id="testimonial_2">
				Darina
			</div>
			<div class="col-md-4" id="testimonial_3">
				Nina
			</div>
		</div>
	</div>

	<div>
		<%= render partial: "sites/signup3" %>
	</div>

<!-- COURSE CURRICULUM -->

	<div id="section_6">
		<div id="content">
			<h2>This course aims to bridge the gap between what you feel <br>in the body and how the body actually works.</h2>
			<h3>Subjects studied:</h3>
			<ul>
				<br>Anatomical components (joints, ligaments, muscles, myofascia)
				<br>Application of Muscle physiology in asana practice
				<br>Kinesiology of all joints
				<br>Application of anatomical understanding to asana alignment
				<br>Patterns of common injury
				<br>Fascial chains and  its connection to alignment
				<br>Muscle imbalance according to Janda theory
			</ul>
			<br><p>And much more…</p>
		</div>
	</div>

<!-- ARE YOU THIS PERSON? -->

	<div id="section_7">
		<div class="row">
			<div class="col-md-6" id="student_content">
				<h2>Who is This Course For?</h2>
				<p>This course is for dedicated practitioners, or a yoga teachers, who care about their own health and their students' health. It's for those who truly want to know how to work with the body and how to take their practice and teaching skills to the next level.</p>
			</div>
			<div class="col-md-6">
				<!-- INSERT PHOTO -->
			</div>
		</div>
	</div>

<!-- ABOUT OREN -->

	<div id="section_8">
		<div class="row">
			<div class="col-md-6">
				<!-- OREN PHOTO -->
			</div>
			<div class="col-md-6" id="oren_content">
				<h2>About the Teacher</h2>
				<p>Oren Dotan, D.O, treats patients worldwide and teaches osteopathy across Europe and at the Israeli Institute of Osteopathy. His teaching fuses his passions of yoga and anatomy. In his 15 years of practice he has studied Iyengar, Astanga and traditional Tantra. He deals with yoga injuries on a daily basis in his clinic. Viewing yoga through the eyes of an osteopath, Oren understands how the two disciplines intertwine. He hosts international workshops on yoga, alignment and osteopathy.</p>
			</div>
		</div>
	</div>

	<!-- INSERT TESTIMONIAL VIDEOS FROM OREN -->

	<div>
		<%= render partial: "sites/signup4" %>
	</div>

<!-- INSERT FACEBOOK LINK -->
</div>
