<div class"container">

	<div class="jumbotron" id="home">
			<div id="intro">
				<h1 id="home_h1">Yoga, Anatomy & <br>Alignment Course</h1>
				<hr class="mini_home" id="mini">
					<span>GAIN CONFIDENCE.</span><br>
					<span>LEARN HOW TO PREVENT INJURIES.</span><br>
					<span>DEEPEN YOUR PRACTICE.</span><br>
				<hr id="mini">
				<p>Taught by Oren Dotan, D.O.</p>
			</div>
		</div>

	<div id="section_1">
		<div class="row" id="section_1_row">
			<div class="col-md-1">
			</div>
			<div class="col-md-5">
				<ul>
					<li>Are you frustrated because you cannot help students, or yourself, with injuries and pain?</li><br>
					<li>Do you feel unconfident adjusting your students?</li><br>
					<li>Are you dissatisfied with your knowledge about the human body?</li><br>
					<li>Do you need more tools in order to become a better teacher?</li><br>
				</ul>
			</div>
			<div class="col-md-5">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/2kSJgvprmuM" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-md-1">
			</div>
		</div>
	</div>

	<div id="section_2">
		<div class="row" id="section_2_row">
			<div class="col-md-3" id="benefit_1">
				<div class="row">
					<!-- <img src="assets/benefit_icon.png" id="benefit_icon"> -->
				</div>
				<div class="benefits">
					<hr id="mini">
					<p>Become a confident yoga teacher & practitioner</p>
					<hr id="mini">
				</div>
			</div>
			<div class="col-md-3" id="benefit_2">
				<div class="row">
					<!-- <img src="assets/benefit_icon.png" id="benefit_icon"> -->
				</div>
				<div class="benefits">
					<hr id="mini">
					<p>Upgrade your <br>teaching abilities</p>
					<hr id="mini">
				</div>
			</div>
			<div class="col-md-3" id="benefit_3">
				<div class="row">
					<!-- <img src="assets/benefit_icon.png" id="benefit_icon"> -->
				</div>
				<div class="benefits">
					<hr id="mini" class="mini_benefit">
					<p>Help your students with their pain and injuries</p>
					<hr id="mini">
				</div>
			</div>
			<div class="col-md-3" id="benefit_4">
				<div class="row">
					<!-- <img src="assets/benefit_icon.png" id="benefit_icon"> -->
				</div>
				<div class="benefits">
					<hr id="mini" class="mini_benefit">
					<p>Develop and deepen your <br>own personal practice</p>
					<hr id="mini">
				</div>
			</div>
		</div>
	</div>

	<div>
		<%= render partial: "sites/signup1" %>
	</div>

	<div id="curriculum" class="row">
		<div class="row" id="curriculum_content">
			<h2>In the course you will...</h2>
		</div>
		<div class="row" id="course_row">
			<div class="col-lg-4" id="icon_div">
				<div class="circle_icon">
					<img src="assets/icon1.png">
				</div>
					<p>Apply knowledge of human anatomy in your practice and instruction.
					</p>
			</div>
			<div class="col-lg-4" id="icon_div">
				<div class="circle_icon">
					<img src="assets/icon2.png">
				</div>
					<p>Diagnose common misalignments and imbalances in the muscular <br>and skeletal system.
					</p>
			</div>
			<div class="col-lg-4" id="icon_div">
				<div class="circle_icon">
					<img src="assets/icon3.png">
				</div>
					<p>Increase awareness of the <br>body’s innermost workings.
					</p>
			</div>
		</div>
		<div class="row" id="course_row">
			<div class="col-lg-4" id="icon_div">
				<div class="circle_icon">
					<img src="assets/icon4.png">
				</div>
					<p>Understand how to <br>prevent injuries.
					</p>
			</div>
			<div class="col-lg-4" id="icon_div">
				<div class="circle_icon">
					<img src="assets/icon5.png">
				</div>
					<p>Deepen your practice through <br>correct alignment.
					</p>
			</div>
			<div class="col-lg-4" id="icon_div">
				<div class="circle_icon">
					<img src="assets/icon6.png">
				</div>
					<p>Tailor your knowledge to the specific needs of each student.
					</p>
			</div>
		</div>
	</div>

	<div id="overview">
				<div class="row" id="overview_row">
					<div class="col-md-1">
					</div>
					<div class="col-md-5">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/p_qP2Pv2ygw" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="col-md-5" id="content">
						<p>This course will break down the principles behind the alignment, through scientific understanding of muscles, joints and fascia. Once you understand these principles, you will be able to apply them to all variations of asanas.</p>
						<p>We will explore all the main muscles of the body, as well as our patterns of movement, through asana practice – as opposed to dry lectures.</p>
						<p>We will focus on the biomechanic reasons for common yoga injuries, and learn how to prevent them.
						This course is a golden opportunity to get more intimate with your body, to realize what are your weaknesses and imbalances, and to learn how to correct them.</p><br>
					</div>
					<div class="col-md-1">
					</div>
				</div>
			</div>
	</div>

	<div>
		<%= render partial: "sites/signup2" %>
	</div>

<!-- TESTIMONIALS -->

	<div id="section_5">
		<div class="row" id="section_5_row">
			<div class="col-md-4" id="testimonial_1">
				<h2>Tamara Martínez Vila, Yoga Teacher</h2>
				<img src="assets/tamara.png" class="testimony_picture">
			</img>
					<p>"More than memorising any position or muscle it has been understanding the principles of how the body works. I really notice improvement in my yoga practice and body awareness and now I feel more confident to teach others… It has been beneficial to learn the foundations that sometimes you can't get from a 200-hour teacher training course."</p>
			</div>
			<div class="col-md-4" id="testimonial_2">
				<h2>Darina Samuelova, Yoga Teacher</h2>
				<img src="assets/darina.png" class="testimony_picture">
			</img>
					<p>"This course is MUST for all yoga teachers, to deepen their knowledge, so they can lead their students safely and effectively. I feel more confident to go into my yoga teaching world now, and keep educating people how to practice safely according to their needs. Whether you are teacher, practitioner, or you simply struggle with your body and want to learn how to use it correctly, this course is a MUST for you."</p>
			</div>
			<div class="col-md-4" id="testimonial_3">
				<h2>Nina Ingold, Yoga Teacher</h2>
				<img src="assets/nina.png" class="testimony_picture">
			</img>
					<p>"I have gained a deeper understanding about how a Yoga Asana practice influences the physical body, what specific problems may arise when teaching different kind of people, and also where I need to be cautious in my own practice. I definitely feel more secure in my own Yoga practice and much more confident to teach Yoga and adjust students without harming or hurting them."</p>
			</div>
		</div>
	</div>

<!-- COURSE CURRICULUM -->

	<div id="section_6">
		<div id="content">
			<h2>This course aims to bridge the gap between what you feel in the body and how the body actually works.</h2>
			<h3>Subjects studied:</h3>
			<ul>
				<li>Anatomical components (joints, ligaments, muscles, myofascia)</li>
				<li>Application of Muscle physiology in asana practice</li>
				<li>Kinesiology of all joints</li>
				<li>Application of anatomical understanding to asana alignment</li>
				<li>Patterns of common injury</li>
				<li>Fascial chains and  its connection to alignment</li>
				<li>Muscle imbalance according to Janda theory</li>
			</ul>
			<p>And much more…</p>
		</div>
	</div>

		<div>
			<%= render partial: "sites/signup3" %>
		</div>

<!-- ARE YOU THIS PERSON? -->

	<div id="section_7">
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-6" id="student_content">
				<h2>Who is This Course For?</h2>
				<p>This course is for dedicated practitioners and yoga teachers who care about their own health and that of their students. It's for those who truly want to know how to work with the body while taking their practices and teaching skills to the next level.</p>
			</div>
			<div class="col-md-3">
			</div>
		</div>
	</div>

<!-- ABOUT OREN -->

	<div id="section_8">
		<div class="row" id="oren_content">
				<img src="assets/oren.png" id="oren_pic">
				<h2>About the Teacher</h2>
				<p>Oren Dotan, D.O, treats patients worldwide and teaches osteopathy across Europe and at the Israeli Institute of Osteopathy. His teaching fuses his passions of yoga and anatomy. In his 15 years of practice he has studied Iyengar, Astanga and traditional Tantra. He deals with yoga injuries on a daily basis in his clinic. Viewing yoga through the eyes of an osteopath, Oren understands how the two disciplines intertwine. He hosts international workshops on yoga, alignment and osteopathy.</p>
		</div>
	</div>

	<div>
		<%= render partial: "sites/signup4" %>
	</div>

	<!-- TESTIMONIAL VIDEOS -->

	<div id="section_9">
		<div class="row" id="section_9_row">
			<div class="col-lg-4" id="video_1">
				<iframe width="450" height="250" src="https://www.youtube.com/embed/mF24yJsdFpg" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-lg-4" id="video_2">
				<iframe width="450" height="250" src="https://www.youtube.com/embed/hButl-m1vIo" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-lg-4" id="video_3">
				<iframe width="450" height="250" src="https://www.youtube.com/embed/gfIcY8xKAio" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>

	<!--  FACEBOOK LINK -->
	<div id="section_10">
		<div class="row">
			<div class="col-lg-4">
			</div>
			<div class="col-lg-4 fb-page" data-href="https://www.facebook.com/orenstherapeuticalignment/" data-tabs="timeline" data-width="400" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
				<blockquote cite="https://www.facebook.com/orenstherapeuticalignment/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/orenstherapeuticalignment/">Oren&#039;s Therapeutic Alignment</a></blockquote>
			</div>
			<div class="col-lg-4">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
			</div>
			<a class="col-lg-4" id="email_button" href="mailto:orenalignment@gmail.com?subject=Tell me more!">
				<div id="email_oren">
				Questions? Email Oren.
				</div>
			</a>
			<div class="col-lg-4">
			</div>
		</div>
</div>
</div>
