<div >

	<div id="wrapper">
		
		<div id="opacity">
		</div>

		<div id="intro">
		    <a href="/"><h1 id="home_h1">maegan burke</h1></a>
		    <p>I specialize in the millenial job search, start-up marketing materials and planning inexpensive, life-changing international vacations.</p>
		</div>
		
	</div>

</div>
