<div >

	<div id="wrapper">

		<div id="intro">
		    <a href="/"><h1 id="home_h1">maegan burke</h1></a>
		    <p>I create custom resumes and marketing materials that <span>pop</span>!</p>
		</div>

	</div>

</div>
