<div >

	<div id="wrapper">

		<div id="intro">
		    <a href="/"><h1 id="home_h1">50-hour Course on Yoga Anatomy & Alignment</h1></a>
				<!-- INSERT SENTENCE ABOUT THE CONTENT OF THE COURSE -->
				<hr id="mini">
		    <p>Hosted by Oren Dotan</p>
				<hr id="mini">
		</div>
		<div id="home_image">
		</div>

	</div>


</div>
