<div>
  <div class="navbar-fixed-bottom">
	    <ul class="nav navbar-nav nav-tabs list-unstyled" role="tablist" id="navbar">
	    	<li id="resumes"><a href="#resumepage">resumes</a></li>
	    	<li id="marketing"><a href="#marketingpage">marketing materials</a></li>
			<li id="travel"><a href="#travelpage">travel</a></li>
			<li id="adventure"><a href="#adventurepage">my next adventure</a></li>
	     	<li id="contact"><a href="#contactpage">get in touch</a></li>
	    </ul>
	</div>
</div>