<div>
  <div class="navbar-fixed-bottom">
	    <ul class="nav navbar-nav nav-tabs list-unstyled" role="tablist" id="main_navbar">
	    	<li id="gohome"><a href="/">Home</a></li>
	    	<li id="resumes"><a href="/custom_resume_design">The Course</a></li>
        <li id="marketing"><a href="/custom_marketing_materials">The Teacher</a></li>
	     	<li id="contact"><a href="#contactpage">Get in Touch</a></li>
	    </ul>
	</div>
</div>
