<div>
  <div class="navbar-fixed-bottom">
	    <ul class="nav navbar-nav nav-tabs list-unstyled" role="tablist" id="main_navbar">
	    	<li id="gohome"><a href="/">home</a></li>
	    	<li id="resumes"><a href="/custom_resume_design">custom resume design</a></li>
        <li id="marketing"><a href="/custom_marketing_materials">custom marketing materials</a></li>
	     	<li id="contact"><a href="#contactpage">get in touch</a></li>
	    </ul>
	</div>
</div>
