<div>
  <div class="navbar-fixed-top">
	    <ul class="nav navbar-nav nav-tabs list-unstyled" role="tablist" id="navbar navbar_blog">
	    	<li id="gohome_blog"><a href="/">home</a></li>
	     	<li id="contact_blog"><a href="/#contactpage">get in touch</a></li>
	    </ul>
	</div>
</div>
