<div>
  <div class="navbar-fixed-bottom">
	    <ul class="nav navbar-nav nav-tabs list-unstyled" role="tablist" id="navbar">
	    	<li id="resumes"><a href="/resume_services">resumes</a></li>
	    	<li id="marketing"><a href="/marketing">marketing materials</a></li>
			<li id="travel"><a href="/travel">travel</a></li>
			<li id="adventure"><a href="/vote">my next adventure</a></li>
	     	<li id="contact"><a href="/contact">get in touch</a></li>
	    </ul>
	</div>
</div>